body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    left: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
/* 
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel img {
    width: 100%;
    display: none;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: #888;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
} */

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
    height: 500px;
    object-fit: cover;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}


.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

/* Optional: Add styling for navigation buttons */
.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

nav {
    background-color: #3498db; /* Use a color that complements your design */
    color: white;
    padding: 20px;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}
